<h1>Listing imei_packages</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>pID</th>
    <th>Imei</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imei_packages.each do |imei_package| %>
  <tr>
    <td><%= imei_package.package_id %></td>
    <td><%= imei_package.imei %></td>
    <td><%= link_to 'Show', imei_package %></td>
    <td><%= link_to 'Edit', edit_imei_package_path(imei_package) %></td>
    <td><%= link_to 'Destroy', imei_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Imei package', new_imei_package_path %>
